.sidebar {
    min-height: 100vh !important;
    @include z-index(sidebar);
    width: inherit;
   left: 0;
    .nav-link {
      color: $link-color;
      text-decoration: none;
      @include transition($link-transition); 
      &:hover {
        color: $link-hover-color;
      }
    
      &.active {
        color: $link-hover-color !important;
      }
    }
  }