$light-mode-bg: #F0F0F0;
$light-mode-text: #000000;

$dark-mode-bg: #000000;
$dark-mode-text: #F0F0F0;

$main_color: #00cecb;
$link-color: black;
$link-hover-color: #00cecb;
$link-transition: all 0.3s ease;

// Typographie
$font-family: 'Lora', serif;
$font-size-base: 1rem;

 $z-index-header: 3;
 $z-index-sidebar: 2;
 $z-index-footer: 1;

 // Tasks Colors 
 $completed-task: #82ca9d;
 $active-task: #8884d8;



